.academy {
  padding: 17px 57px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.academy__link {
  text-decoration: none;
  color: @grey;
  font-size: 12px;
  line-height: 16px;
  &--logo {
    padding-top: 3px;
  }
}
