.academy {
  padding: 17px 57px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.academy__link {
  text-decoration: none;
  color: @grey;
  font-size: 12px;
  line-height: 16px;
  display: flex;

  &:hover {
    color: @primary;
  }

  &:focus {
    color: @primary;
  }

  &:active {
    color: @primary-darker;
  }

  &:hover .academy__icon {
    fill: @primary;
  }

  &:focus .academy__icon {
    fill: @primary;
  }

  &:active .academy__icon {
    fill: @primary-darker;
  }
}

.academy__title {
  margin-right: 3px;
}

@media (min-width: @tablet-width) {
  .academy {
    justify-content: center;
    padding: 30px 20px 40px;
  }
}

@media (min-width: @tablet-width) {
  .academy {
    padding: 20px 20px 40px;
  }
}
