.button {
  color: @white;
  background-color: @primary;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  font-family: @font-family-main;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: @primary-lighter;
  }

  &:focus {
    background-color: @primary-lighter;
  }

  &:active {
    background-color: @primary-darker;
  }

  &:disabled {
    background-color: @grey;
  }
}
