.form {
  margin-bottom: 36px;
}

.form__field-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__field-group-wrapper {
  margin-bottom: 11px;
}

.form__field-group-container {
  margin-bottom: 24px;
}

.form__button-container {
  padding: 0 60px;
}

.form__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  width: 160px;
  border: none;
  padding: 10px 7px;
}

.form__button-submit {
  margin-bottom: 24px;
}

.form__button-reset {
  color: @primary;
  background-color: @white;

  &:hover {
    color: @white;
  }

  &:focus {
    color: @white;
  }

  &:active {
    color: @white;
  }

  &:disabled {
    color: @white;
  }
}

@media (min-width: @tablet-width) {
  .form__field-group-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
  }

  .form__button-container {
    margin: 0 auto;
    width: 320px;
    display: flex;
  }

  .form__button-submit {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .form__field-group {
    &--value {
      width: 220px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__field-group-wrapper {
    display: block;
  }

  .form__button-container {
    margin-left: 0;
    padding: 0;
    width: 320px;
    display: flex;
  }
}
