.info__title {
  color: @primary;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}

.info__group {
  padding: 20px;
  border-bottom: 1px solid @secondary;
}

.info__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.info__item {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.info__link {
  text-decoration: none;
  color: @black;

  &:hover {
    color: @primary;
  }

  &:focus {
    color: @primary;
  }

  &:active {
    color: @primary-darker;
  }

  &--tel {
    position: relative;
    padding-left: 20px;

    &::after {
      position: absolute;
      content: "";
      width: 13px;
      height: 16px;
      background-image: url("../../img/tel-icon-contacts.svg");
      background-repeat: no-repeat;
      background-size: 13px 16px;
      top: 6%;
      left: 0;
    }
  }
}

.info__text {
  margin: 0;
  margin-bottom: 16px;
  position: relative;
  padding-left: 20px;

  &::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 16px;
    background-image: url("../../img/mark-icon-contacts.svg");
    background-repeat: no-repeat;
    background-size: 13px 16px;
    top: 6%;
    left: 0;
  }
}


@media (min-width: @tablet-width) {
  .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 20px 0 20px;
  }

  .info__group {
    padding: 0;
    border-bottom: none;
    width: 222px;
  }
}

@media (min-width: @desktop-width) {
  .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0;
    padding-top: 10px;
  }

  .info__group {
    padding: 0;
    border-bottom: none;
    width: 317px;
  }
}
