.user__list {
  line-height: 15px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 120px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.user__icon {
  fill: @black;
}

.user__link {
  display: block;
  padding: 20px 22px;
  position: relative;
  color: @black;
  text-decoration: none;

  &:hover {
    color: @primary;
  }

  &:focus {
    color: @primary;
  }

  &:active {
    color: @primary;
    background-color: @secondary;
  }

  &:hover .user__icon {
    fill: @primary;
  }

  &:focus .user__icon {
    fill: @primary;
  }
}

.user__text {
  display: none;
}

.user {
  padding-right: 60px;
}

@media (min-width: @tablet-width) {
  .user {
    padding: 0;
    margin-left: 525px;
  }

  .user__link {
    padding: 32px 22px;
  }
}

@media (min-width: @desktop-width) {
  .user {
    padding: 0;
    margin-left: 783px;
  }

  .user__text {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .user__list {
    width: 261px;
  }

  .user__link {
    display: flex;
    padding: 32px 25px;
  }

  .user__icon {
    margin-right: 8px;
  }
}
