.user__list {
  line-height: 15px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width:120px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.user__link {
  display: block;
  padding: 20px 22px;
  position: relative;
  color: @black;
  text-decoration: none;
}

.user__icon {
  fill: @black
}

.user__text {
  display:none;
}

@media (min-width: @tablet-width) {
  .user {
    order:1;
  }
}

@media (min-width: @desktop-width) {
  .user__text {
    display: block;
  }

  .user__list {
    width:261px;
  }

  .user__link {
    display: flex;
  }

  .user__icon {
    margin-right: 8px;
  }
}
